<div class="container bg-light border border-secondary text-center my-2 rounded">
  <p class="h3">Hot Posters</p>
</div>
<div class="container">
  <div class="row my-2 border-bottom py-1">
    <div class="col-4">
      <img src="https://www.google.com.pe/imgres?imgurl=https%3A%2F%2Fstatic1-es.millenium.gg%2Farticles%2F1%2F27%2F32%2F1%2F%40%2F125838-impostores-article_list_m-1.jpg&imgrefurl=https%3A%2F%2Fes.millenium.gg%2Fjuegos%2Fjuego-118&tbnid=HxUD9ZL70ypcMM&vet=12ahUKEwjlkJ3Su7LsAhXQELkGHX8yAG4QMygCegUIARCbAQ..i&docid=63b5rDxjYsVNfM&w=559&h=315&q=among%20us%20image%2064x64&ved=2ahUKEwjlkJ3Su7LsAhXQELkGHX8yAG4QMygCegUIARCbAQ" alt="among" width="64" height="64">
    </div>
    <div class="col-8">
      <div class="posters">
        <strong>Poster N째1</strong>
        <small>@Postman</small>
      </div>
    </div>
  </div>
  <div class="row my-2 border-bottom py-1">
    <div class="col-4">
    </div>
    <div class="col-8">
      <div class="posters">
        <strong>Poster N째2</strong>
        <small>@Postman</small>
      </div>
    </div>
  </div>
  <div class="row my-2 border-bottom py-1">
    <div class="col-4">
    </div>
    <div class="col-8">
      <div class="posters">
        <strong>Poster N째3</strong>
        <small>@Postman</small>
      </div>
    </div>
  </div>
  <div class="row my-2 border-bottom py-1">
    <div class="col-4">
    </div>
    <div class="col-8">
      <div class="posters">
        <strong>Poster N째4</strong>
        <small>@Postman</small>
      </div>
    </div>
  </div>
</div>