<div class="container bg-light border border-secondary text-center my-2 rounded">
  <p class="h3">Hot Posters</p>
</div>
<div class="container">
  <div class="row my-2 border-bottom py-1">
    <div class="col-4">
      <%= image_tag("among.jpg", class: "rounded-circle my-2", width: "64", height: "64") %>
    </div>
    <div class="col-8">
      <div class="posters">
        <strong>Poster N째1</strong>
        <small>@Postman</small>
      </div>
    </div>
  </div>
  <div class="row my-2 border-bottom py-1">
    <div class="col-4">
      <%= image_tag("among.jpg", class: "rounded-circle my-2", width: "64", height: "64") %>
    </div>
    <div class="col-8">
      <div class="posters">
        <strong>Poster N째2</strong>
        <small>@Postman</small>
      </div>
    </div>
  </div>
  <div class="row my-2 border-bottom py-1">
    <div class="col-4">
      <%= image_tag("among.jpg", class: "rounded-circle my-2", width: "64", height: "64") %>
    </div>
    <div class="col-8">
      <div class="posters">
        <strong>Poster N째3</strong>
        <small>@Postman</small>
      </div>
    </div>
  </div>
  <div class="row my-2 border-bottom py-1">
    <div class="col-4">
      <%= image_tag("among.jpg", class: "rounded-circle my-2", width: "64", height: "64") %>
    </div>
    <div class="col-8">
      <div class="posters">
        <strong>Poster N째4</strong>
        <small>@Postman</small>
      </div>
    </div>
  </div>
</div>