<div class="my-2 border bg-light text-center">
  <p class="h3">Trends</p>
</div>
<table class="table text-center border">
  <tr>
    <th scope="row">Trend 1</th>
  </tr>
  <tr>
    <th scope="row">Trend 2</th>
  </tr>
  <tr>
    <th scope="row">Trend 3</th>
  </tr>
  <tr>
    <th scope="row">Trend 4</th>
  </tr>
  <tr>
    <th scope="row">Trend 5</th>
  </tr>
</table>