<section class="section">
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <%= render 'feed'%>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</section>
<br>

<%= link_to 'New Post', new_post_path %>
