<% if user_signed_in? %>
  <p class="m-0">
    <%= link_to current_user.name, edit_user_registration_path, class: 'btn text-light m-2' %>
  </p>
  <p class="m-0">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn text-light m-2' %>
  </p>
<% else %>
  <p class="m-0">
    <%= link_to 'Sing In', new_user_session_path, class: 'btn text-light m-2' %>
  </p>
  <p class="m-0">
    <%= link_to 'Sing Up', new_user_registration_path, class: 'btn text-light m-2' %>
  </p>
<% end %>